<mat-form-field>
  <mat-label>Todo</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.todo.text" />
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ todo: data.todo }">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ task: data.todo, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
</div>
