<div class="container-wrapper">
  <div class="container">
    <h2>Todos</h2>
    <app-todo (edit)="editTask($event)" *ngFor="let todo of todos | async" [todo]="todo"></app-todo>
    <button (click)="newTodo()" style="float: right" mat-button>
      <mat-icon>add</mat-icon> Add Todo
    </button>
  </div>
</div>
