<div class="container-wrapper">
  <div class="container">
    <h2>Login</h2>
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <mat-form-field appearance="outline">
          <mat-label>Mail</mat-label>
          <input formControlName="mail" type="email" matInput placeholder="Mail">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
        </div>

        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card>
  </div>
</div>
