<mat-toolbar color="primary">
  <mat-icon>assignment_turned_in</mat-icon>
  <span>noto</span>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" *ngIf="!checkLoggedIn()" routerLink="/signup">Sign up</button>
  <button mat-flat-button color="primary" *ngIf="!checkLoggedIn()" routerLink="/login">Login</button>
  <button mat-flat-button color="primary" *ngIf="checkLoggedIn()" routerLink="/todopage">Todos</button>
  <button mat-flat-button color="primary" *ngIf="checkLoggedIn()" (click)="logout()">Sign out</button>
</mat-toolbar>

<router-outlet></router-outlet>
