<mat-card class="item" *ngIf="todo" (dblclick)="edit.emit(todo)">
  <mat-checkbox [checked]="todo.checked" (change)="checkedChanged($event)"></mat-checkbox>
  <p>
    {{ todo.text }}
  </p>
</mat-card>
